<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testpriority.TestPriority"/>
      <class name="Testpriority.Byletter"/>
      <class name="TestNG.Afterbeforereload"/>
      <class name="Testpriority.priority"/>
      <class name="trial.Enable"/>
      <class name="trial.priority"/>
      <class name="TestNG.dropdown"/>
      <class name="TestNG.beforeAfter"/>
      <class name="handelingwindow.handlenewwindow"/>
      <class name="Testpriority.bynumber"/>
      <class name="Enabled.Enable"/>
      <class name="DependsOnMethod.dependsOn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
